<div class="text-text w-10/12 m-auto">

    <div class="flex border-chat bg-server  rounded-lg" id="message-container">


        <div class="flex flex-1 bg-blue-400 flex-col" #scroll2 style="overflow: scroll; height: xyz;" [scrollTop]="scroll2.scrollHeight" id="new-message"></div>


        <div class="flex flex-1 bg-red-400 flex-col" #scrollMe style="overflow: scroll; height: xyz;" [scrollTop]="scrollMe.scrollHeight" id="my-message"></div>


    </div>

  
    <form id="form">
  
      <div class="flex justify-center" id="message">
        <input class="bg-server text-text m-5 w-fit rounded-lg p-2" type="text" id="message-input" (keydown.enter)="displayMessage(input.value)" #input>
        <button class="bg-chat-bubble border-2 border-chat-bubble p-2 rounded-lg m-3 hover:text-chat-bubble hover:bg-text" type="button" (click)="displayMessage(input.value)" (keyup.enter)="displayMessage(input.value)" id="send-button">Send</button>

  
      </div>
  
      
  
  
  
    </form>

    <div id="user-list">

    </div>
  
 
 </div>